   <style>
    h1{
      color: #fff;
      font-family: Tahoma, sans-serif;
     }  
    
    label{
      color: #fff;
      display: inline-block;
      width: 200px;
      margin-right: 10px;
    }
  </style>