<style>
  body{
    background: #141414;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    margin: 0 auto;
    font-family: Tahoma, sans-serif; /* google fonts with fallback */ 
    }
    
    
    #wrapper{
      margin: 0 auto;
      width: 960px;
    }
    
    #comedies_vids, #trending_now_vids{
      margin-top: -26px;
    }
    
    #comedies{
      margin-top: -26px;
      padding-top: 10px;
      clear: both;
    }
    
    footer{
      height: 40px;
      font-size: 12px;
      background-color: #000;
      color: #fff;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
      
    footer p{
      text-align: center;
    } 
    </style>
